<h1 contenteditable="true" id="title">输入文章标题</h1>
<textarea id="MyID"></textarea>
<h4 class="form-check">群发用户:</h4>
<div class="form-check form-check-success">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input web">
        WEB
        <i class="input-helper"></i></label>
</div>
<div class="form-check form-check-success">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input java">
        JAVA
        <i class="input-helper"></i></label>
</div>
<br />
<button type="button" class="btn btn-gradient-danger btn-icon-text" id="upload">
    <i class="mdi mdi-upload btn-icon-prepend"></i>Upload</button>
<button type="button" class="btn btn-gradient-primary btn-icon-text" id="save">
    <i class="mdi mdi-file-check btn-icon-prepend"></i>Save</button>