<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-checkbox-multiple-marked"></i>
        </span>Announcement
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview
                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>
<h1 contenteditable="true" id="title">输入文章标题</h1>
<textarea id="MyID"></textarea>
<h4 class="form-check">群发用户:</h4>
<div class="form-check form-check-success">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input web">
        WEB
        <i class="input-helper"></i></label>
</div>
<div class="form-check form-check-success">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input java">
        JAVA
        <i class="input-helper"></i></label>
</div>
<br />
<button type="button" class="btn btn-gradient-danger btn-icon-text" id="upload">
    <i class="mdi mdi-upload btn-icon-prepend"></i>Upload</button>
<button type="button" class="btn btn-gradient-primary btn-icon-text" id="save">
    <i class="mdi mdi-file-check btn-icon-prepend"></i>Save</button>
<br />
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">我的公文</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    标题
                                </th>
                                <th>
                                    创建日期
                                </th>
                                <th>
                                    公文状态
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    John Richards
                                </td>
                                <td>
                                    Apr 12, 2015
                                </td>
                                <td>
                                    <label class="badge badge-gradient-success">DONE</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    Edward
                                </td>
                                <td>
                                    May 03, 2015
                                </td>
                                <td>
                                    <label class="badge badge-gradient-info">ON HOLD</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="tijiaobutton">TIJIAO</button>